body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #983e41, #fad0c4);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  background: white;
  padding: 29px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.2);
  width: 350px;
}

.container h2 {
  color: #582940;
  margin-bottom: 20px;
}

label {
  font-size: 20px;
  color: #333;
  display: block;
  margin-bottom: 10px;
}

input[type="number"] {
  padding: 10px;
  width: 90%;
  border: 2px solid #571335;
  border-radius: 8px;
  outline: none;
  font-size: 16px;
  margin-bottom: 20px;
  transition: 0.3s;
}

input[type="number"]:focus {
  border-color: #571335;
  box-shadow: 0px 0px 8px rgba(214, 51, 132, 0.5);
}

button {
  background: #602424;
  color: white;
  border: none;
  padding: 12px 20px;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #c26696;
  transform: scale(1.05);
}

#result {
  margin-top: 20px;
  font-size: 18px;
  color: #444;
  font-weight: bold;
}
